Workflows/AIAgents/ESG/ESG_Summary_RAG_Agent (1).json
{
  "name": "ESG Summary RAG Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a summary of the ESG status for {{ $('When Executed by Another Workflow').item.json.CompanyName }}. Use a clear, structured, and objective tone. Use only the data from the Vestor Store for ESG. DO NOT use any other source \nOrganize the summary using headings, bullet points, and short paragraphs.\nProvide a balanced view: highlight both strengths and areas for improvement. An example outline of the summary would be \n\n\nThis ESG summary provides a snapshot of {{ $('When Executed by Another Workflow').item.json.CompanyName }} ESG Rating: {{ $('When Executed by Another Workflow').item.json.ESGRating }}Stars, sustainability profile, highlighting key strengths, challenges, and opportunities for improvement across environmental, social, and governance dimensions.\n\nCreate a summary of approximately 350 words on the ESG data provide.\n1. Overall ESG Performance\nState the overall ESG Rating.\nExplain that the score reflects performance across environmental, social, and governance (ESG) pillars, including adjustments for controversies and Sustainable Development Goal (SDG) impacts.\n\n2. Pillar Breakdown\nDescribe the performance of each ESG pillar:\nEnvironmental: Mention the score and any key strengths or weaknesses (e.g., emissions, energy use, resource efficiency).\nSocial: Discuss relevant scores and highlight workforce practices, diversity, and customer impact.\nGovernance: Highlight board practices, independence, compensation policies, and ESG integration.\n\n3. Top Positive KPIs (based on influence)\nList key performance indicators including the Pillar they belong to that significantly contributed to a higher ESG score. Include both quantitative and qualitative aspects where available. \n4. Top Negative KPIs (based on influence)\nList the KPIs indicators including the Pillar they belong to that most negatively impacted the ESG score. \n\n5. Major Controversy Adjustments\nSummarize how controversies affected the ESG score:\nIndicate which pillars (E, S, G) were impacted and describe the nature of the issues (e.g., labor disputes, governance scandals, environmental fines).\n\nInclude the magnitude of adjustments if provided.\n\n6. SDG Impacts\nExplain the company's alignment (positive or negative) with the United Nations Sustainable Development Goals (SDGs). Mention:\nPositive contributions and Negative impacts always include the associated details\n\n\n",
        "options": {
          "systemMessage": "=Use the Tool ESGDataStore to source ESG data for the summary from the Vestor Store. DO NOT use any other source "
        }
      },
      "id": "78147bc3-ed58-4f2e-9ee9-7f6c74b49675",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1840,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 👋 ESG Summary Agent Using RAG\nAs the ESG data is bigger than a single prompt allows this example uses Pinecone to store the data as a document then reference this to all the LLM to generate the result\n",
        "height": 389,
        "width": 319,
        "color": 6
      },
      "id": "c75328f6-9eba-4180-a40c-36879ff829e8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        120
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {}
      },
      "id": "7aae7afa-cf99-4b31-8629-51564b10c330",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1840,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "UtgJomhtLaADCLkT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        840
      ],
      "id": "badd53e7-b196-4a97-bc07-5a2f8ab88cda",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UtgJomhtLaADCLkT",
          "name": "OpenAi account"
        }
      },
      "notes": "Embedding AI"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "ESGDataStore",
        "toolDescription": "USE THIS TOOL to retrieve to retreive the relevant ESG data from the Vector Store\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "esgkb",
          "mode": "list",
          "cachedResultName": "esgkb"
        },
        "options": {
          "pineconeNamespace": "={{ $('When Executed by Another Workflow').item.json.CompanyName }}",
          "metadata": {
            "metadataValues": [
              {
                "name": "ESGID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ESGID }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1900,
        300
      ],
      "id": "521008fa-6e2a-462c-8d39-b90796dd872d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "PaFv5UXAHFe9s8wV",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "ESGID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ESGID }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1260,
        200
      ],
      "id": "8b856962-6917-4780-b492-9ab5c21c9561",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 50000,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1400,
        400
      ],
      "id": "6858e89b-980d-44f3-b5ec-3a676c82936e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "esgkb",
          "mode": "list",
          "cachedResultName": "esgkb"
        },
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "={{ $('When Executed by Another Workflow').item.json.ESGID }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1116,
        0
      ],
      "id": "293c4bb8-36d2-49f4-8faf-b4a68df7426f",
      "name": "Pinecone Save Data",
      "credentials": {
        "pineconeApi": {
          "id": "PaFv5UXAHFe9s8wV",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1460,
        0
      ],
      "id": "39ec6c2c-0d39-41d4-9121-252a715f3b18",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ESGData",
              "type": "any"
            },
            {
              "name": "CompanyName"
            },
            {
              "name": "ESGRating",
              "type": "number"
            },
            {
              "name": "ESGID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        -20
      ],
      "id": "b09f92a5-ef3b-4750-ac91-4333a23456c3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "ESGData",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        440,
        -20
      ],
      "id": "bc8d2c4d-5e6b-4bf0-b886-e77eeb450b45",
      "name": "Convert to File"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ESGData": "# ESG Report: Walt Disney Co/The\n\n## Company Metrics\n| ESG Score | Controversy Adjustment | SDG Impact |\n|-----------|------------------------|------------|\n| 64.3 | -0.5 | -0.29 |\n\n## Pillar: Environmental\n| Name | Score | Weight | Influence | Controversy Adjustment |\n|------|-------|--------|----------|------------------------|\n| Environmental | 22.8 | 0.300 | 0.300 | 0.0 |\n\n### Pillar Controversy Adjustments\n| ID | Pillar | Description | Score | Weight | Year |\n|----|--------|-------------|-------|--------|------|\n| C1 | Environmental | Controversy adjustments from GHG emissions | 0.0 | 0.20 |  |\n| C2 | Environmental | Controversy adjustments from Natural resources | -0.2 | 0.10 |  |\n\n### KPIs\n| Name | Score | Weight | Influence | Qualitative Adjustment |\n|------|-------|--------|----------|-----------------------|\n| Energy use | 32.6 | 0.600 | 0.180 |  |\n| GHG emissions | 30.1 | 0.200 | 0.060 |  |\n| Natural resources | 1.6 | 0.100 | 0.030 |  |\n| Waste and emissions | 26.9 | 0.100 | 0.030 |  |\n\n### Quantitative Indicators\n| KPI | Name | Score | Weight | Influence |\n|-----|------|-------|--------|----------|\n| Energy use | Energy Consumption | 12.0 | 0.400 | 0.072 |\n| Energy use | Percentage of energy purchased from renewables | 35.9 | 0.300 | 0.054 |\n| Energy use | Trend in energy consumption | 63.3 | 0.300 | 0.054 |\n| GHG emissions | Greenhouse Gas Emissions | 19.7 | 0.600 | 0.036 |\n| GHG emissions | Trend in GHG emissions | 71.2 | 0.400 | 0.024 |\n| Natural resources | Water Use | 1.6 | 1.000 | 0.030 |\n| Waste and emissions | Waste Generation | 2.4 | 0.500 | 0.015 |\n| Waste and emissions | EMS Certified Percent | 50.0 | 0.250 | 0.007 |\n| Waste and emissions | Waste Recycling Ratio | 47.5 | 0.250 | 0.007 |\n\n### Qualitative Indicators\n| KPI | Name | Score | Weight |\n|-----|------|-------|--------|\n| Energy use | Renewable Energy Use |  | 0.570 |\n| Energy use | Policy Energy Efficiency |  | 0.290 |\n| Energy use | Targets Energy Efficiency |  | 0.140 |\n| GHG emissions | Product Environmental Responsible Use |  | 0.400 |\n| GHG emissions | Climate Change Commercial Risks Opportunities |  | 0.200 |\n| GHG emissions | Policy Emissions |  | 0.200 |\n| GHG emissions | Targets Emissions |  | 0.200 |\n| Natural resources | Policy Water Efficiency |  | 0.500 |\n| Natural resources | Targets Water Efficiency |  | 0.500 |\n| Waste and emissions | Environmental Partnerships |  | 0.500 |\n| Waste and emissions | ISO 14000 or EMS |  | 0.500 |\n\n## Pillar: Governance\n| Name | Score | Weight | Influence | Controversy Adjustment |\n|------|-------|--------|----------|------------------------|\n| Governance | 84.5 | 0.400 | 0.400 | -0.1 |\n\n### Pillar Controversy Adjustments\n| ID | Pillar | Description | Score | Weight | Year |\n|----|--------|-------------|-------|--------|------|\n| C1 | Governance | Controversy adjustments from Compensation | -0.6 | 0.08 |  |\n| C2 | Governance | Controversy adjustments on pillar level | -0.1 |  |  |\n\n### KPIs\n| Name | Score | Weight | Influence | Qualitative Adjustment |\n|------|-------|--------|----------|-----------------------|\n| Compensation policy (long term and ESG orientated) | 52.4 | 0.230 | 0.092 |  |\n| Board of directors independence and expertise | 57.1 | 0.190 | 0.076 |  |\n| Independent board leadership | 100.0 | 0.150 | 0.060 |  |\n| Commitment to an effective and well-balanced board | 100.0 | 0.080 | 0.032 |  |\n| Compensation | 100.0 | 0.080 | 0.032 |  |\n| Integration of ESG aspects in corporate strategy | 88.9 | 0.080 | 0.032 |  |\n| Nomination committee independence and empowerment | 100.0 | 0.080 | 0.032 |  |\n| Protection of minority shareholders | 80.8 | 0.080 | 0.032 |  |\n| Audit committee independence and expertise | 100.0 | 0.050 | 0.020 |  |\n\n## Pillar: Social\n| Name | Score | Weight | Influence | Controversy Adjustment |\n|------|-------|--------|----------|------------------------|\n| Social | 81.7 | 0.300 | 0.300 | -1.4 |\n\n### Pillar Controversy Adjustments\n| ID | Pillar | Description | Score | Weight | Year |\n|----|--------|-------------|-------|--------|------|\n| C1 | Social | Controversy adjustments from Community Relations | -0.9 | 0.10 |  |\n| C2 | Social | Controversy adjustments from Customer Impact and Product Features | -0.5 | 0.20 |  |\n| C3 | Social | Controversy adjustments from Diversity | -0.9 | 0.20 |  |\n| C4 | Social | Controversy adjustments from Human Resources | -0.9 | 0.40 |  |\n| C5 | Social | Controversy adjustments from Labor Conditions | -0.1 | NULL |  |\n| C6 | Social | Controversy adjustments from Suppliers | -0.7 | 0.10 |  |\n| C7 | Social | Controversy adjustments on pillar level | -0.8 |  |  |\n\n### KPIs\n| Name | Score | Weight | Influence | Qualitative Adjustment |\n|------|-------|--------|----------|-----------------------|\n| Human Resources | 65.6 | 0.400 | 0.120 |  |\n| Customer Impact and Product Features | 100.0 | 0.200 | 0.060 |  |\n| Diversity | 83.9 | 0.200 | 0.060 |  |\n| Community Relations | 97.0 | 0.100 | 0.030 |  |\n| Suppliers | 27.0 | 0.100 | 0.030 |  |\n\n### Quantitative Indicators\n| KPI | Name | Score | Weight | Influence |\n|-----|------|-------|--------|----------|\n| Diversity | Women Managers | 90.0 | 0.500 | 0.030 |\n| Diversity | Women Employees | 100.0 | 0.300 | 0.018 |\n| Diversity | Employees with disabilities | 74.2 | 0.200 | 0.012 |\n| Human Resources | Turnover of Employees | 69.8 | 0.500 | 0.060 |\n| Human Resources | Salaries and Wages | 70.7 | 0.300 | 0.036 |\n| Human Resources | Average Training Hours | 78.7 | 0.200 | 0.024 |\n\n### Qualitative Indicators\n| KPI | Name | Score | Weight |\n|-----|------|-------|--------|\n| Community Relations | Policy Community Involvement |  | 0.400 |\n| Community Relations | Corporate Responsibility Awards |  | 0.200 |\n| Community Relations | Employee Engagement Voluntary Work |  | 0.200 |\n| Community Relations | Total amount of all donations by the company | 79.9 | 0.200 |\n| Customer Impact and Product Features | Policy Responsible Marketing |  | 0.500 |\n| Customer Impact and Product Features | Policy Cyber Security |  | 0.250 |\n| Customer Impact and Product Features | Policy Data Privacy |  | 0.250 |\n| Customer Impact and Product Features | Product Recall |  | 0.000 |\n| Diversity | Flexible Working Hours |  | 0.430 |\n| Diversity | Targets Diversity and Opportunity |  | 0.290 |\n| Diversity | Day Care Services |  | 0.140 |\n| Diversity | Policy Diversity and Opportunity |  | 0.140 |\n| Human Resources | Management Departures |  | 0.330 |\n| Human Resources | Internal Promotion |  | 0.170 |\n| Human Resources | Management Training |  | 0.170 |\n| Human Resources | Policy Career Development |  | 0.170 |\n| Human Resources | Policy Skills Training |  | 0.170 |\n| Suppliers | Human Rights Breaches Contractor |  | 0.200 |\n| Suppliers | Human Rights Contractor |  | 0.200 |\n| Suppliers | Supplier ESG training |  | 0.200 |\n| Suppliers | Supply Chain Health & Safety Improvements |  | 0.200 |\n| Suppliers | Policy Supply Chain Health & Safety |  | 0.100 |\n| Suppliers | Supply Chain Health & Safety Training |  | 0.100 |\n\n## Controversies\n| ID | Pillar | Description | Score | Weight | Year |\n|----|--------|-------------|-------|--------|------|\n| C1 | Environmental | Controversy adjustments from GHG emissions | 0.0 | 0.20 |  |\n| C2 | Environmental | Controversy adjustments from Natural resources | -0.2 | 0.10 |  |\n| C3 | Social | Controversy adjustments from Community Relations | -0.9 | 0.10 |  |\n| C4 | Social | Controversy adjustments from Customer Impact and Product Features | -0.5 | 0.20 |  |\n| C5 | Social | Controversy adjustments from Diversity | -0.9 | 0.20 |  |\n| C6 | Social | Controversy adjustments from Human Resources | -0.9 | 0.40 |  |\n| C7 | Social | Controversy adjustments from Labor Conditions | -0.1 | NULL |  |\n| C8 | Social | Controversy adjustments from Suppliers | -0.7 | 0.10 |  |\n| C9 | Social | Controversy adjustments on pillar level | -0.8 |  |  |\n| C10 | Governance | Controversy adjustments from Compensation | -0.6 | 0.08 |  |\n| C11 | Governance | Controversy adjustments on pillar level | -0.1 |  |  |\n\n## SDG Impacts\n| Category | Name | Details | Impact | Measure | Revenue Exposure |\n|----------|------|---------|--------|---------|------------------|\n| SDG 4 Quality Education Impact | information media/content (limited contribution) | information media content | 0.210 | 3 | 7.0% |\n| SDG 13 Climate Action Impact | cruises (limited obstruction) | cruises (conventional propulsion) | -0.250 | -5 | 5.0% |\n| SDG 14 Life Below Water Impact | cruises (limited obstruction) | cruises (conventional propulsion) | -0.250 | -5 | 5.0% |\n\n## Controversy Events\n| ID | Date | Penalty | % Penalty | Severity | Source | E | S | G |\n|----|------|---------|-----------|----------|--------|---|---|---|\n| E1 | 2021-12-21 | 0.00 | 0.3 | less severe | influential | false | true | false |\n| E2 | 2024-01-10 | 0.02 | 4.0 | less severe | influential | false | true | true |\n| E3 | 2023-01-10 | 0.28 | 60.6 | severe | high influence | false | true | false |\n| E4 | 2023-01-05 | 0.00 | 0.0 | less severe | low influence | false | true | true |\n| E5 | 2024-02-07 | 0.05 | 11.3 | less severe | high influence | false | true | false |\n| E6 | 2024-02-06 | 0.10 | 22.5 | less severe | high influence | false | true | false |\n| E7 | 2024-10-14 | 0.01 | 1.4 | less severe | influential | true | true | true |\n\n## Critical Issues\n| ID | Name | Description | Value |\n|----|------|-------------|-------|\n| I1 | Alcohol Distributor |  | 0.99% |\n| I2 | EU CTB Exclusion |  | false |\n| I3 | EU PAB Exclusion |  | false |\n| I4 | LGT Focus Sustainability Exclusion |  | false |\n| I5 | Pork Related |  | 0.40% |\n",
          "CompanyName": "Walt Disney Co/The",
          "ESGRating": 4,
          "ESGID": "Walt Disney Co/The"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Save Data",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Save Data",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Save Data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Pinecone Save Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "90bddfec-cb20-464b-a07f-3d6ca6431182",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0851186287984defd085dfa37fa9b8d6478c9a514d3d7e58c0f9581e228bdb0e"
  },
  "id": "CB6zzj4HyUPPJE2o",
  "tags": [
    {
      "createdAt": "2025-04-09T12:43:49.518Z",
      "updatedAt": "2025-04-09T12:43:49.518Z",
      "id": "vZizpKqP9soHC75L",
      "name": "AI Agents"
    }
  ]
}